<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PDF List</title>
</head>
<body>
  <h1>Uploaded PDF Files</h1>

  <table border="1">
    <thead>
      <tr>
        <th>File Name</th>
        <th>Delete</th> <!-- New column for delete button -->
      </tr>
    </thead>
    <tbody>
      {% for pdf_name in pdf_names %}
      <tr>
        <td>{{ pdf_name }}</td>
        <td>
          <!-- Delete button with a link to a delete route -->
          <form action="/delete" method="POST">
            <input type="hidden" name="pdf_name" value="{{ pdf_name }}">
            <button type="submit">Delete</button>
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <a href="/index.html">Back</a>
</body>
</html>
